@import './base.css';

:root {
  --btn-color: #fff;
  --hover-color: rgba(240, 244, 255, 0.5);
  --vars-background: #ffffff;
  --vars-text-color: #000000;
  --border-color: #ffffff;
  --text-color: #000000;
  --blue-color: #0055FF;
  --blue-border: linear-gradient(45deg, #99BBFF, #689AFF);
}

#app {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-rows: auto 40px;
  grid-template-columns: 1fr;
  padding: 40px 200px;

  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;

}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vh 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.vars {
  display: flex;
  flex-direction: column;
  color: var(--vars-text-color);
  list-style: none;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  padding: 0;
  overflow: hidden;
}

.vars li {
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

.vars li button {
  border: none;
  border-radius: 0;
  /*background: linear-gradient(90deg, #993ecb, #2d75ff);*/
  background: black;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 500;
  white-space: wrap;

}

.vars li button:hover {
  cursor: pointer;
  border-bottom: 2px solid #ffffff;
}

#content::-webkit-scrollbar { display: none; }


.indicator__pages {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: fit-content;
  margin: auto;
}

.indicator__pages .page {
  list-style: none;
  background: white;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  border: 3px solid black;
}

.indicator__pages .page.active {
  background-color: black;
}

button {
  appearance: none;
  color: var(--btn-color);
  padding: 20px 60px;
  border-radius: 1000px;
  border: 2px solid white;
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 800px) {
  .meme {
    height: 250px !important;
    width: 250px !important;
  }

  main {
    padding: 20px;
  }

  h1 {
    font-size: 32px;
  }

  .stage {
    flex-direction: column;
    height: auto !important;
    margin: 0 !important;
  }

  .stage__negative, .stage__positive {
    width: 100% !important;
  }

  .dodge-btn {
    width: 100% !important;
  }

  .invite-btn {
    width: 100% !important;
  }
}

@media (max-width: 400px) {
  .cal-wrap {
    max-width: 100% !important;
    margin: 0 !important;
  }
}